<template>
<div>
  <h1>
    <img src="~/assets/iniciar-sesion.gif" width="940px" height="200px">
    <h1>Saturnino Bazán</h1>
  </h1>
  <a-form
    id="components-form-demo-normal-login"
    :form="form"
    class="login-form"
    @submit="handleSubmit"
  >
    <a-form-item>
      <a-input
      class="formu"
      id="usuario"
      v-model="usuarios.usuario"
        v-decorator="[
          'userName',
          { rules: [{ required: true, message: 'Porfavor ingrese el usuario!' }] },
        ]"
        placeholder="Usuario"
      >
        <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
      </a-input>
    </a-form-item>
    <a-form-item>
      <a-input
      class="formu"
      id="contraseña"
      v-model="usuarios.contraseña"
        v-decorator="[
          'password',
          { rules: [{ required: true, message: 'Porfavor ingrese la contrañsea!' }] },
        ]"
        type="password"
        placeholder="Contraseña"
      >
        <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
      </a-input>
    </a-form-item>
    <a-form-item>
      <a-checkbox
        v-decorator="[
          'remember',
          {
            valuePropName: 'checked',
            initialValue: true,
          },
        ]"
      >
        Recuerdamelo
      </a-checkbox>
      <a class="login-form-forgot" href="">
        ¿Olvido la contraseña?
      </a>
      
      <a-button v-on:click="warn('no se puede enviar el formulario', $event)" id="ca" type="primary" html-type="submit" class="login-form-button" href="/principal" > 
        Iniciar sesion
      </a-button>
  
      ó
      <a href="">
        Registrarse ahora!
      </a>
    </a-form-item>
  </a-form>
</div>
</template>
<script>
export default {
  data() {
    return {
      usuarios:{
        usuario:"",
        contraseña:""

      }
    }
  },
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: 'normal_login' });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          alert("todo bien")

        }
        
      });
    },
    warn: function(message, event){
      if(this.usuarios.usuario=="Jesusbzn" && this.usuarios.contraseña =="123"){
        return false
      }
      else if(this.usuarios.usuario=="" || this.usuarios.contraseña ==""){
        event.preventDefault()
        alert("Rellene todos los campos")
         this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
          

        }
      });
      }
      else{
        alert("contraseña o usuario incorrecto")
         event.preventDefault()
      }
    },
  },
};
</script>
<style>
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
h1{
  text-align: center;
}
</style>