<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider v-model="collapsed" :trigger="null" collapsible>
      <div class="logo" />
      <a-menu theme="dark" mode="inline" :default-selected-keys="['1']">
        <a-menu-item key="1">
         <a-icon type="home" />
        <span>Inicio</span>
        </a-menu-item>
       <a-menu-item key="2">
        <a-icon type="monitor" />
        <span>Expedientes</span>
      </a-menu-item>
      <a-menu-item key="3">
        <a-icon type="file-text" />
        <span>Reportes</span>
      </a-menu-item>
      <a-menu-item key="4">
        <a-icon type="setting" />
          <span>configuracion</span>
        </a-menu-item>
       <a-menu-item key="5">
         <a-icon type="project" />
         <span>Asegurados</span>
        </a-menu-item>
        <a-menu-item key="6">
          <a-icon type="user" />
          <span>Usuario</span>
        </a-menu-item>
        <a-menu-item key="7">
        <a-icon type="bank" />
         <span>Juzgado</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="menu()" 
        />
        <img src="~/assets/logoo.JPEG" height="50px" width="50px" />
        <button class="usuarii">Saturnino Bazán</button>
         <img src="~/assets/alado.gif" height="50px" width="670px"/>
        <button class="nombr"><a-icon type="user" /> Jesusbzn</button>
        
        <router-link class="salir" to="/"><a-icon type="caret-right" />Salir</router-link>
      </a-layout-header>
      <a-layout-content
        :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '280px' }"
      >
      <div class="info">
        <div class="calendario">
      <a-calendar :fullscreen="false" @panelChange="onPanelChange" />
    </div>
         <h1>Agenda de hoy</h1>
        <h1> {{  pdiasemana  }} {{dia}} de {{pmes}} del {{año}}</h1>
      </div>
    <div class="tabla">
      <div class="tabla">
        <tr>
          <td id="a">ASEGURADORA</td>
          <td id="e">ASEGURADO</td>
          <td id="i">JUZGADO</td>
        </tr>
        <tr v-for="(item, index) in items">
          <td class="f">{{ item.aseguradora }}</td>
          <td class="f">{{ item.asegurado }}</td>
          <td class="f">{{ item.juzgado }}</td>
        </tr>
    </div>
    <div class="btn">
    <a-button id="uno" type="primary"><a-icon type="file-ppt" />Pendiente
    <br>104</a-button>
    <a-button id="dos" type="primary"><a-icon type="file-text" />En curso
      <br>72
    </a-button>
    <a-button id="tres" type="primary"><a-icon type="file-zip" />Cerrados
    <br>204</a-button>
    <div class="container">
      <input type="checkbox" id="toggle">
      <label for="toggle" class="button"></label>
      <nav class="nav">
         <input type="text" @keyup.enter="agregar" v-model="newaseguradora" placeholder="Ingrese la aseguradora">
         <input type="text" @keyup.enter="agregar" v-model="newasegurados" placeholder="Ingrese el nombre">
         <input type="text" @keyup.enter="agregar" v-model="newjuzgados" placeholder="Ingrese el juzgado">
         <input v-on:click="agregar" type="button" class="boton" id="btn-agregar" value="Agregar">
      </nav>
    </div>
    </div>
      </div>
      </a-layout-content>
      <a-layout-footer class="footer">
        Carolina futura de Bazán
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  mounted(){
    this.diaaa()
  },
  data() {
    return {
      collapsed: false,
    items:[
      {aseguradora:'ANCON',asegurado:'LUIS MOLINA',juzgado:'JUZGADO 4TO(PEDREGAL)'},
      {aseguradora: 'ASSA', asegurado:'ANTHONY TREJOS', juzgado:'JUZGADO 5TO(PEDREGAL)'},
      {aseguradora: 'ASSA', asegurado:'KATHERIE KENT', juzgado:'JUZGADO 5TO(PEDREGAL)'},
      {aseguradora: 'CONANCE', asegurado:'MARTIN ALVARADO', juzgado:'JUZGADO 1RO(PEDREGAL)'},
       {aseguradora: 'PARTICULAR', asegurado:'JOEL ARAUZ RODRIGUEZ', juzgado:'JUZGADO 3RO(PEDREGAL)'},
        {aseguradora: 'INTEROCEANICA', asegurado:'MICHELE VEGA', juzgado:'ALCALDIA DE PANAMA'},
         {aseguradora: 'ANCON', asegurado:'CANDICE HERNY', juzgado:'CHITRE'},
         {aseguradora: 'ANCON', asegurado:'MARCOS BATISTA', juzgado:'SANTIAGO'},
         {aseguradora: 'ASSA', asegurado:'CRISTIAN BAEZ', juzgado:'ALCADIA DE PANAMA'},
         {aseguradora: 'PARTICULAR', asegurado:'MATEO MORENO', juzgado:'ALCADIA DE PANAMA'},
         {aseguradora: 'ASSA', asegurado:'JORGE SANCHEZ', juzgado:'ALCADIA DE PANAMA'}
    ],
    newaseguradora:'',
    newasegurados:'',
    newjuzgados:'',
    fecha:'',
    dia:'',
    mes:'',
    año:'',
    diasemana:'',
    semanaa:[],
    pdiasemana:'',
    mess:[],
    pmes:'',
    };
  },
   methods: {
    onPanelChange(value, mode) {
      console.log(value, mode);
    },
    agregar(){
      if(this.newaseguradora != '' && this.newasegurados != '' && this.newjuzgados != ''){
      this.items.push({
        aseguradora: this.newaseguradora, asegurado: this.newasegurados, juzgado: this.newjuzgados

      })
      }
      else{
        alert("rellene todo los campos")
      }
      this.newaseguradora= '',
      this.newasegurados='',
      this.newjuzgados =''
    },
    menu(){
      this.collapsed = !this.collapsed
      console.log("se esta ejecutando")
    },
    diaaa(){
      this.semanaa =  ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado']
      this.mess = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
      this.fecha= new Date()
      this.dia= this.fecha.getDate()
      this.diasemana = this.fecha.getDay()
      this.mes = this.fecha.getMonth()
      this.año = this.fecha.getFullYear()
      this.pdiasemana = this.semanaa[this.diasemana]
      this.pmes = this.mess[this.mes]
      console.log(this.semanaa, this.mess, this.fecha, this.dia, this.diasemana, this.mes, this.año, this.pdiasemana, this.pmes)
    }
  },
};
</script>
<style>
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.ant-layout-footer {
    background: black;
    color: white;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    
}
h1{
font-family: 'Courier New', Courier, monospace;
font-size: 40px;
}
h2{
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
}
.ant-layout-content div .info{
  position: relative;
}

.ant-layout-content div .tabla{
  width: 650px;
  background: rgb(236, 236, 241);
}
.ant-layout-content div .tabla td{
  border-bottom: 1px solid #B6B6B6;
}
.ant-layout-content div .tabla td #a, #e, #i{
 font-weight: bold;
}
.ant-layout-content div .tabla td{
  padding-left: 60px;
}
.ant-layout-content div .calendario{
width: 300px;
position: relative;
border: 1px solid #d9d9d9; 
border-radius: 4px;
float: right;
}
.ant-layout-content div .btn{
  margin: 40px;
}
.ant-layout-content div .btn #uno{
  width: 200px;
  height: 50px;
  font-size: 18px;
  background: rgb(149, 135, 8);
  border: red;
}
.ant-layout-content div .btn #dos{
  width: 200px;
  height: 50px;
  font-size: 18px;
  background: rgb(246, 173, 2);
  border: red;
  margin-left: 30px;
}
.ant-layout-content div .btn #tres{
  width: 200px;
  height: 50px;
  font-size: 18px;
  background: rgb(139, 138, 134);
  border: red;
  margin-left: 30px;
}
.ant-layout-header .salir{
width: 100px;
font-size: 20px;
height: 60px;
background: rgb(189, 179, 179);
float: right;
color: antiquewhite;
}
.ant-layout-header .usuarii{
  border: 0;
  background: white;
  height: 60%;
}
.ant-layout-header .nombr{
  border: 0;
  background: white;
  height: 60%;
  
}

.container, .button, .nav{
    position: absolute;
}

.container{
    margin: auto;
    top: 73%;
    left: 86%;
    margin-left: -20px;
}

#toggle{
    display: none;
}

.button{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #806e21;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

.button:before{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}

.button:after{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
}

.nav{
    transform: translateY(-10%);
    opacity: 0;
    top: 13px;
    left: -50px;
    transition: all 0.5s ease-in-out;
    width: 150px;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.1);
}

.nav input{
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #f28482;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 300ms;
}

.nav a:hover{
    color: #5f5f5f;
}

#toggle:checked ~ .nav{
    opacity: 1;
    transform: translateY(10%);
}

#toggle:checked ~ .button{
    transform: rotate(135deg);
    box-shadow: 0 0 0 0 transparent;
}
</style>